<ul class="nav nav-tabs nav-stacked" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="simple-search-tab" data-toggle="tab" href="#simpleSearch" role="tab"
            aria-controls="simple-search-tab" aria-selected="true">Simple Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="advanced-search-tab" data-toggle="tab" href="#advancedSearch" role="tab"
            aria-controls="advanced-search-tab" aria-selected="false">Advanced Search</a>
    </li>
</ul>

<div class="tab-content search-div" id="myTabContent">
    <div class="tab-pane fade show active " id="simpleSearch" role="tabpanel" aria-labelledby="simple-search-tab">
        <div class="row">
            <div class="col-md-3 outline-bar-result">
                <div class="row">
                    <div class="col-md-12">
                        <div class="shadow-sm p-2 m-1 bg-white rounded">
                            <div class="row">
                                <div class="col-md-1">
                                    <fa-icon [icon]="faCoffee"></fa-icon>
                                </div>
                                <div class="col-md-5">
                                    <span class="float-left">Business Units</span>
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control" name="" id="">
                                        <option>Select</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="shadow-sm p-2 m-1 bg-white rounded">
                            <div class="row">
                                <div class="col-md-1">
                                    <fa-icon [icon]="faCalendar"></fa-icon>
                                </div>
                                <div class="col-md-5">
                                    <span class="float-left">Group Results By*</span>
                                </div>
                                <div class="col-md-5">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-success active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                            Program
                                        </label>
                                        <label class="btn btn-success">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> Term
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 div-school-title">
                        <div class="row div-school-header">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <span> School</span>
                        </div>
                        <div class="row">
                            <div class="form-group w-100 form-control-override"><input type="text" class="form-control"
                                    aria-describedby="emailHelp" placeholder="School"></div>
                        </div>
                        <div class="row">
                            <div class="form-group w-100 form-control-override">
                                <select multiple class="form-control" name="" id="">
                                    <option>Eastern Kentucky University</option>
                                    <option>Arizona University</option>
                                    <option>Bradley University</option>
                                    <option>California University</option>
                                    <option>California University 1</option>
                                    <option>California University 2</option>
                                    <option>California University 3</option>
                                    <option>California University 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 div-school-title">
                        <div class="row div-school-header">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <span> Program</span>
                        </div>
                        <div class="row">
                            <div class="form-group w-100 form-control-override"><input type="text" class="form-control"
                                    aria-describedby="emailHelp" placeholder="School"></div>
                        </div>
                        <div class="row">
                            <div class="form-group w-100 form-control-override">
                                <select multiple class="form-control" name="" id="">
                                    <option>Program 1</option>
                                    <option>Program 1</option>
                                    <option>Program 1</option>
                                    <option>Program 1</option>
                                    <option>Program 1</option>
                                    <option>Program 1</option>
                                    <option>Program 1</option>
                                    <option>Program 1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 div-school-title">
                        <div class="row div-school-header">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                            <span> School</span>
                        </div>
                        <div class="row">
                            <div class="form-group w-100 form-control-override"><input type="text" class="form-control"
                                    aria-describedby="emailHelp" placeholder="School"></div>
                        </div>
                        <div class="row">
                            <div class="form-group w-100 form-control-override">
                                <select multiple class="form-control" name="" id="">
                                    <option>Eastern Kentucky University</option>
                                    <option>Arizona University</option>
                                    <option>Bradley University</option>
                                    <option>California University</option>
                                    <option>California University 1</option>
                                    <option>California University 2</option>
                                    <option>California University 3</option>
                                    <option>California University 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane fade" id="advancedSearch" role="tabpanel" aria-labelledby="advanced-search-tab">

    </div>
</div>