.search-div {
    border-left: 0.5px solid;
    border-right: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color:#dee2e6 #dee2e6 #dee2e6;
}

.outline-bar-second {
    border:5px solid !important;
    background-color: red;
    border-color: blue;
}

.div-school-title {
    border:1px solid !important;
    margin:10px;
}

.div-school-header {
    background-color: #7b8b9a;
}

.form-control-override {
    margin-bottom: auto !important;
}