<ul class="nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dashboardSubMenu" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Dashboard</a>
        <div class="dropdown-menu" aria-labelledby="dashboardSubMenu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Action</a>
        </div>
    </li>
</ul>