<ul class="nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dashboardSubMenu" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Dashboard</a>
        <div class="dropdown-menu" aria-labelledby="dashboardSubMenu">
            <a class="dropdown-item" href="#">Your Key Metrics Dashboard</a>
            <a class="dropdown-item" href="#">Dashboard Configuration</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="businessProcessSubMenu" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Business Process</a>
        <div class="dropdown-menu" aria-labelledby="businessProcessSubMenu">
            <a class="dropdown-item" href="#">Program Key Dates</a>
            <a class="dropdown-item" href="#">Start Distribution - Budget</a>
            <a class="dropdown-item" href="#">Start Management</a>
            <a class="dropdown-item" href="#">Returning - Inputs - Budget</a>
            <a class="dropdown-item" href="#">Returning - Cohert Management</a>
            <a class="dropdown-item" href="#">Returning - Term Management</a>
            <a class="dropdown-item" href="#">Term Summary</a>
            <a class="dropdown-item" href="#">Revenue Management</a>
            <a class="dropdown-item" href="#">Scenario Modeling</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="stratPlanProcessSubMenu" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Strat Plan Process</a>
        <div class="dropdown-menu" aria-labelledby="stratPlanProcessSubMenu">
            <a class="dropdown-item" href="#">Start Management - Strat Plan</a>
            <a class="dropdown-item" href="#">Revenue Management - Strat Plan</a>
            <a class="dropdown-item" href="#">Average Credits - Strat Plan</a>
            <a class="dropdown-item" href="#">Scenario Modeling - Strat Plan</a>
            <a class="dropdown-item" href="#">Summary - Strat Plan</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="financeCenterSubMenu" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Finance Center</a>
        <div class="dropdown-menu" aria-labelledby="financeCenterSubMenu">
            <a class="dropdown-item" href="#">Manage Term Status</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="noviEntrySubMenu" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Novi Entry</a>
        <div class="dropdown-menu" aria-labelledby="noviEntrySubMenu">
            <a class="dropdown-item" href="#">Manage Novi Starts</a>
            <a class="dropdown-item" href="#">Manage Novi Returning</a>
            <a class="dropdown-item" href="#">Manage Novi Avg Credits</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" id="adminSubMenu" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="adminSubMenu">
            <a class="dropdown-item" href="#">User</a>
            <a class="dropdown-item" href="#">Manage System Locks</a>
            <a class="dropdown-item" href="#">Notification/Alerts</a>
            <a class="dropdown-item" href="#">Content Link Configuration</a>
            <a class="dropdown-item" href="#">Version Scheduling</a>
            <a class="dropdown-item" href="#">Forecast Automation</a>
            <a class="dropdown-item" href="#">Start Management Configuration</a>
            <a class="dropdown-item" href="#">Novi Data Entry Configuration</a>
        </div>
    </li>
</ul>