<div class="row">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="col-md-10">
                <a href="#" title="Vertias">
                    <img src="../assets/images/Veritas-logo.png" alt="logo icon here">
                </a>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-6 chat-icon">
                        <a href="#" title="Vertias">
                            <img src="../assets/images/chat_icon.png" alt="logo icon here">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            <span class="welcome-text">Welcome!</span>
                        </div>
                        <div class="float-right">
                            <span class="welcome-text-user">Stephan Thinagaran</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>