<nav class="navbar" style="background-color: #334b63;">
    <a href="#" title="Vertias" class="navbar-brand">
        <img src="../assets/images/Veritas-logo.png" alt="logo icon here">
    </a>
    <div class="ml-auto">
        <ul class="nav">
            <li class="nav-item">
                <a href="#" title="Vertias" class="navbar-brand">
                    <img src="../assets/images/chat_icon.png" alt="logo icon here">
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="nav">
            <li class="vertical-separator">
                <!--Vertical separator-->
            </li>
        </ul>
    </div>
    <div class="flex-column">
        <ul class="nav">
            <li class="nav-item">
                <span class="welcome-text text-right">Welcome!</span>
            </li>
        </ul>

        <ul class="nav">
            <li class="nav-item">
                <span class="welcome-text-user text-right">Stephan Thinagaran</span>
            </li>
        </ul>
    </div>
</nav>




