.div-filter-margin {
    margin: 20px;  
    box-shadow: 1px 1px 6px 1px #dfdfdf;
    height: 200px;
}

.mat-toolbar.mat-primary {
    background: #334b63;
    color: #fff;
}

.filter-title{
    font-size: 14px;
    color:#fff;
}

.filter-help-icon {
    margin-left: 5px;
    margin-top: 5px;
}

/** No CSS for this example */
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }