<div class="div-filter-margin">
    <mat-toolbar color="primary" style="min-height: 30px !important; height: 45px !important;">
        <mat-toolbar-row>
            <span class="filter-title">Filter Options</span>
            <span class="filter-help-icon">
                <a href="#" title="Help">
                    <img src="../assets/images/help-white.png" alt="logo icon here">
                </a>
            </span>
            <span class="example-fill-remaining-space"></span>
            <span >
                <a href="#">
                    <mat-icon style="color:white">keyboard_arrow_down</mat-icon>
                </a>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>