<div class="year-container shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-4">
                    <img src="../assets/images/calendar-icon.png" alt="logo icon here">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <span class="process-year-label">Process Year</span>
                    </div>
                    <div class="row">
                        <span>{{Year}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1">
                    <img src="../assets/images/arrow1.png" alt="Left Arrow" class="mx-auto d-block">
                </div>
                <div class="col-md-10">
                    <div class="shadow p-2 bg-white rounded fa-pull-left w-100">
                        <input type="range" class="year-slider-control w-100" name="YearSlider"
                            (change)="sliderOnChangeHandler($event)" min="1991" max="2019" step="1">
                    </div>
                </div>
                <div class="col-md-1 pull">
                    <img src="../assets/images/arrow1.png" alt="Left Arrow" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</div>